*{
    margin: 0;
    padding: 0;
}
 body{
    background-color: #2c2a2a;
 }
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.navbar h1{
    text-transform: uppercase;
    color: rgb(255, 8, 8);
    font-size: 2.2rem;
    font-family: 'bebas-neue', sans-serif;
}
 button{
    padding: 2px 16px;
    background-color: rgb(255, 8, 8);
    color: #ffffff;
    font-weight: bold;
    border: none;
    font-size: 0.9rem;
    border-radius: 5px;
 }
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 1.2rem;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.second{
    background-color: #0B0B0B;
}
.enjoy-tv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
    gap: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.enjoy-tv p{
    line-height: 1.5rem;
}
.enjoy-tv img{
    padding-top: 15px;
    width: 50%;
    height: 190px;
    mix-blend-mode: screen;
}
.third{
    background-color: #0B0B0B;
}
.download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
    gap: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.download img{
    padding-top: 15px;
    width: 50%;
    height: 180px;
    mix-blend-mode: screen;
}
.download p{
    line-height: 1.5rem;
}
.fourth{
    background-color: #0B0B0B;
}
.everywhere-watch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
    gap: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.everywhere-watch p{
    line-height: 1.5rem;
}
.fifth{
    background-color: #0B0B0B;
}
.kids-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
    gap: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.kids-profile img{
    padding-top: 15px;
    width: 50%;
    height: 180px;
    mix-blend-mode: screen;
}
.kids-profile p{
    line-height: 1.2rem;
}
.sixth{
    background-color: #0B0B0B;
}
.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
    gap: 1.1rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.input-area{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
input[type="email"] {
    width: 250px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #e50914;
    background-color: rgba(34, 33, 33, 0.8);
    color: #fff;
    font-size: 1em;
    outline: none;
  }
  
  input[type="email"]:focus{
    border-bottom: 2px solid #fff;
  }

.input-area button{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    height: 40px;
}
@font-face {
    font-family: bebas-neue;
    src: url(./bebas-neue/BebasNeue.otf);
}

.input-area button, i{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

h2{
    font-size: 1.9rem;
}
h3{
    font-size: 1.1rem;
}
.started{
    padding-top: 10px;
}
.collapsible .content {
    display: none;
    padding: 10px;
    border: 1px solid #131212;
    margin-top: 10px;
    background-color: #807c7c;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
  }
  .collapsible-btn {
    background-color: #706c6c;
    color: rgb(252, 248, 248);
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
  }
  .collapsible-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .collapsible-btn i
  {
    padding-right: 5px;
    padding-bottom: 10px;
  }
.collapsible-btn h4{
    padding-top: 23px;
}
  .is-pressed{
    background-color: lightblue;
  }

  .collapsible-btn h4{
    padding-left: 35px;
    font-size: 1.1rem;
  }
  .collapsible.active .content {
    display: block;
  }

.collapsible{
    width: 90%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 460px 460px 460px 250px 460px 1000px 460px;
    gap: 0.3%;
}
.seventh{
    background-color: #0B0B0B;
}

.first{
    background: url('/netflix-back2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    display: flex;
    gap: 0.3rem;
    border-bottom: 1px solid white;
    width: fit-content;
    margin-top: 28px;
}
.footer a{
    color: #ffffff;
    text-decoration: none;
}
.links-a,
.links-b{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 30px;
    margin-right: 10px;
}
.links-a a,
.links-b a{
    text-decoration: underline;
    color: #ffffff;
}

.lang{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-top: 20px;
    width: fit-content;
}

.lang p{
    color: #ffffff;
}
.lang,
.footer,
.links-a,
.links-b{
    margin-left: 39px;
}
select{
    padding: 6px;
    background-color: #0B0B0B;
    color: #ffffff;
    font-weight: bold;
}
select:active{
    border-color: none;
}

@media (min-width: 700px) and (max-width: 1500px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh;
    }
    .first{
        background: url(./netflix-back2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .text{
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         padding-top: 2%;
         gap: 2.2rem;
         text-align: center;
         color: #ffffff;
         font-weight: bold;
    }
    .text h2{
        font-size: 5rem;
    }
    .text h3{
        font-size: 2rem;
    }
    .text p{
        font-size: 1.5rem;
    }
    .navbar h1{
        font-size: 3.5rem;
    }
    button{
        height: 40px;
        width: 90px;
     }
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth,
    .seventh{
        display: none;
    }
}